

.vs/
*.user
*.userosscache
*.sln.docstates

# Pasta do Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Arquivos de Build do MSBuild
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.appref-ms

*.log


bin/
obj/Debug/
appsettings.Development.json

.DS_Store

# Ferramentas extras (Entity Framework, etc)
*.db
*.db-shm
*.db-wal.vs/
*.xlsx
*.docx
*.pptx
*.pdf
bin/
obj/
.vs/
